# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# from tinycc/.gitignore

tinycc/*.o
tinycc/*.a
tinycc/tcc_g
tinycc/tcc
tinycc//*-tcc
tinycc/tc2.c
tinycc/doc
tinycc/tc3s.c
tinycc/p3.c
tinycc/tc1.c
tinycc/error.c
tinycc/i386-gen1.c
tinycc/test.out1
tinycc/test.out1b
tinycc/test.out2
tinycc/test.out2b
tinycc/test.out3
tinycc/test.out3b
tinycc/web.sh
tinycc/memdebug.c
tinycc/bench
tinycc/Makefile.uClibc
tinycc/boundtest
tinycc/prog.ref
tinycc/test.ref
tinycc/test.out
tinycc/tcc-doc.html
tinycc/ideas
tinycc/tcctest.ref
tinycc/linux.tcc
tinycc/ldtest
tinycc/libtcc_test
tinycc/instr.S
tinycc/p.c
tinycc/p2.c
tinycc/tcctest[1234]
tinycc/test[1234].out
tinycc/tests/tcclib.h
tinycc/tests/tcctest.gcc
tinycc/tests/weaktest.*.o.txt
tinycc/tests/tests2/fred.txt
tinycc/tests/hello
tinycc/.gdb_history
tinycc/tcc.1
tinycc/tcc.pod
tinycc/config.h
tinycc/config.mak
tinycc/config.texi
tinycc/tags
tinycc/.DS_Store
tinycc/*.swp
tinycc/lib/x86_64
tinycc/lib/i386
tinycc/lib/x86_64-win32
tinycc/lib/i386-win32
tinycc/tcc-doc.info
tinycc/conftest*
tinycc/tiny_libmaker
tinycc/*.dSYM
tinycc/*~

